:root {
  /* Color schemes */
  --hsl-white: 0 0% 100%;
  --hsl-black: 0 0% 0%;

  /* TODO: Add hsl colors for shadows */
  /* --hsl-primary: 11, 54%, 40%; */

  /* Font schemes */
  --ff-poppins: "Poppins", sans-serif; /* logo name */
  --ff-cond: "Roboto Condensed", sans-serif; /* content */
}

:root,
html[data-theme="light"] {
  --color-background: hsl(300, 100%, 99%);
  --color-on-background: hsl(9, 12%, 11%);

  --color-surface: hsl(300, 100%, 99%);
  --color-on-surface: hsl(9, 12%, 11%);
  --color-surface-variant: hsl(10, 59%, 90%);
  --color-on-surface-variant: hsl(9, 13%, 29%);

  --color-outline: hsl(11, 9%, 48%);

  --color-primary: hsl(11, 54%, 40%);
  --color-on-primary: hsl(var(--hsl-white));
  --color-primary-container: hsl(11, 100%, 91%);
  --color-on-primary-container: hsl(6, 100%, 12%);

  --color-secondary: hsl(11, 20%, 39%);
  --color-on-secondary: hsl(var(--hsl-white));
  --color-secondary-container: hsl(11, 100%, 91%);
  --color-on-secondary-container: hsl(11, 47%, 12%);

  --color-tertiary: hsl(45, 41%, 30%);
  --color-on-tertiary: hsl(var(--hsl-white));
  --color-tertiary-container: hsl(43, 85%, 81%);
  --color-on-tertiary-container: hsl(43, 100%, 7%);

  --color-error: hsl(0, 75%, 42%);
  --color-on-error: hsl(var(--hsl-white));
  --color-error-container: hsl(6, 100%, 92%);
  --color-on-error-container: hsl(358, 100%, 13%);
}

html[data-theme="dark"] {
  --color-background: hsl(9, 12%, 11%);
  --color-on-background: hsl(11, 31%, 90%);

  --color-surface: hsl(9, 12%, 11%);
  --color-on-surface: hsl(11, 31%, 90%);
  --color-surface-variant: hsl(9, 13%, 29%);
  --color-on-surface-variant: hsl(11, 26%, 79%);

  --color-outline: hsl(10, 11%, 58%);

  --color-primary: hsl(11, 100%, 82%);
  --color-on-primary: hsl(11, 88%, 20%);
  --color-primary-container: hsl(11, 66%, 30%);
  --color-on-primary-container: hsl(11, 100%, 91%);

  --color-secondary: hsl(11, 52%, 81%);
  --color-on-secondary: hsl(11, 31%, 20%);
  --color-secondary-container: hsl(10, 24%, 29%);
  --color-on-secondary-container: hsl(11, 100%, 91%);

  --color-tertiary: hsl(43, 52%, 70%);
  --color-on-tertiary: hsl(46, 88%, 13%);
  --color-tertiary-container: hsl(45, 54%, 21%);
  --color-on-tertiary-container: hsl(43, 85%, 81%);

  --color-error: hsl(6, 100%, 84%);
  --color-on-error: hsl(357, 100%, 21%);
  --color-error-container: hsl(356, 100%, 29%);
  --color-on-error-container: hsl(6, 100%, 92%);
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
}
